<div id="whole">
	<h2>
		Convert ORCA files to Word documents
	</h2>
	<h3>Upload your ORCA data file </h3>

	<div class="background-image"></div>

	<div>
		<input type="file" (change)="onFileSelected($event)" accept=".txt">
  		<button class="Submit" (click)="onUpload()">Submit</button>
	</div>

	<div>
		<h3>Enter the terms you wish to search for (txt only): </h3>
		<div class="keyterms-search"> 
			<form action="localhost:4200/" method="POST">
			<input
				type="text" placeholder="E.g., CARTESIAN COORDINATES"
				id="keyTerms-toSearch"
				/>
			</form>
			</div>
	</div>

	

	<div>
		<h3>Enter how you want the lines specified: </h3>
		<div class="linesSpecified_search"> 
		<form action="localhost:4200/" method="POST">
		<input
			type="text" placeholder="E.g., WHOLE, FIRST X, LAST X"
			id="linesSpecified-toSearch"
			/>
		</form>
		</div>
	</div>

	<div>
		<h3>Number of sections? </h3>
		<div class="sections_search"> 
		<form action="localhost:4200/" method="POST">
		<input
			type="text" placeholder="Input as number..."
			id="sections-toSearch"
			/>
		</form>
		</div>
	</div>

	<div>
		<h3>Use total lines? </h3>
		<div class="useTotalLines_search"> 
		<form action="localhost:4200/" method="POST">
		<input
			type="text" placeholder="TRUE/FALSE"
			id="useTotalLines-toSearch"
			/>
		</form>
		</div>
	</div>

	<div>
		<h3>Total number of lines for output doc? </h3>
		<div class="totalLines_search"> 
		<form action="localhost:4200/" method="POST">
		<input
			type="text" placeholder="Input as number..."
			id="totalLines-toSearch"
			/>
		</form>
		</div>
	</div>
	<div>
		<button 
			id="downloadButton"
			value="Download"
			type="button"
			(click)="runBackend()"
			>Convert</button>
	</div>
</div>