<div id="whole">
	<h2>Convert ORCA files to Word documents</h2>
	<h3>Upload your ORCA data file (.txt only)</h3>

    <div>
        <label class="form-label" for="customFile">Select your file</label>
        <form action="localhost:4200" method="POST">
            <input type="file" id="customFile" accept=".txt" [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}" style="display: none;">
        </form>
    </div>

    <div>
        <label class="form-label" for="customFile2">Upload file</label>
        <form action="localhost:4200" method="POST">
            <input type="file" id="customFile2" accept=".txt" [(ngModel)]="newFileName" [ngModelOptions]="{standalone: true}" style="display: none;">
        </form>
    </div>

    <div>
        <h3>Section selection</h3>
    </div>

    <form (submit)="submitForm()" [formGroup]="myForm">
        <p-multiSelect
            class="custom-ms"
            [group]="true"
            [options]="brandGroups"
            formControlName="selectedBrands"
            display="chip"
            optionLabel="name"
            optionGroupLabel="groupName"
            optionGroupChildren="brands"
            defaultLabel="Select section(s)"
        ></p-multiSelect>

        <div class="inputlabel">
            <label for="messageInput">Enter your message:</label>
            <input [(ngModel)]="message" type="text" id="messageInput" formControlName="message">
            <button type="button" (click)="sendMessage()">Send Message</button>
        </div>

        <div>
            <h3>Choose a file name:</h3>
            <div class="form-outline">
                <input type="text" id="fileNameInput" name="fileName" [(ngModel)]="fileName" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div>
            <button id="downloadButton" value="Download" type="button" (click)="runBackend()">Convert and Download</button>
        </div>

       
    </form>
</div>
