<div id="whole">
	<h2>
		Convert ORCA files to Word documents
	</h2>
	<h3>Upload your ORCA data file (.txt only)</h3>

	<div>
		<label 
			class="form-label" 
			for="customFile">Select your file</label>
		<form action="http://localhost:4200" method="POST">
		<input 
			type="file" 
			id="customFile" 
			accept=".txt"
			name="customFile"
		/>
		</form>

		<form action="http://localhost:4200" method="POST">
			<input
			type="text"
			id="uploadFileName"
			name="uploadFileName"
			placeholder="Paste your file path here..."
		/>
		</form>
	</div>

	<div>
		<h3>Section selection</h3>
	</div>

	<form action="http://localhost:4200" method="POST">
		<p-multiSelect
			class="custom-ms"
			name="muliselect"
			[group]="true"
			[options]="brandGroups"
			[(ngModel)]="selectedBrands"
			display="chip"
			optionLabel="name"
			optionGroupLabel="groupName"
			optionGroupChildren="brands"
			defaultLabel="Select section(s)">
		</p-multiSelect>
	</form>


	<div>
		<h3>Choose a file name:</h3>
		<div class="form-outline">
		<form action="http://localhost:4200" method="POST">
		<input 
			type="text"
			id="fileNameInput"
			[(ngModel)]="fileName"
			name="fileName"
			/>
		</form>
		</div>
	</div>
	
	<div>
		<button 
			id="downloadButton"
			value="Download"
			type="button"
			(click)="convert()"
			>Convert and Download</button>
	</div>
</div>