input::placeholder {
  color: gray;
  font-style: italic;
  font-size: 12px;
}
span {
  text-align: start;
}

.nav-link.active {
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.button-container {
  margin-bottom: 10px;
}
.select-btn {
  height: 30px;
}

.remove-btn {
  border: 0;
  background-color: #fff;
}
.file-input {
  padding-left: 30px;
  padding-right: 30px;
}
