input::placeholder {
  color: gray;
  font-style: italic;
  font-size: 12px;
}

span {
  text-align: start;
}

.nav-link.active {
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.form-group {
  margin-bottom: 1rem;
  text-align: start;
}

.file-badge {
  display: inline-block;
  background-color: #6c757d;
  color: white;
  border-radius: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.button-container {
  margin-bottom: 10px;
}

.btn-primary:disabled {
  background-color: #aaaaaa !important;
  border-color: #aaaaaa !important;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.preview-modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
}

.preview-modal .modal-dialog {
  max-width: 80vw;
  margin: 1.75rem auto;
}
