input::placeholder {
  color: gray;
  font-style: italic;
  font-size: 12px;
}
span {
  text-align: start;
}

.nav-link.active {
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.button-container {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}