input::placeholder {
  color: gray;
  font-style: italic;
  font-size: 12px;
}
span {
  text-align: start;
}

.nav-link.active {
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.button-container {
  margin-bottom: 10px;
}

.btn-primary:disabled {
  background-color: #aaaaaa !important;
  border-color: #aaaaaa !important;
}