<div style="margin: 30px;">
    <h1>Convert your ORCA data to a Word document</h1>
    <h2>Upload your data file (.txt only)</h2>
</div>

<div style="margin: 30px; width: 300px;">
    <label class="form-label" for="customFile" style="width:300px;">Select your file</label>
    <input type="file" class="form-control" id="customFile" accept=".txt" name="files[]"/>
</div>

<div class="filter-wrapper row">
    <div class="col-md-3 offset-md-3">
        <p-group-multiselect appendTo="body" [options]="options" (onPanelHide)="onPanelHide($event)">
        </p-group-multiselect>
    </div>
</div>

<div style="margin: 30px; width: 300px;">
    <h6>Choose a file name:</h6>
    <div class="form-outline">
      <input type="text" id="fileNameInput" class="form-control" />
    </div>
</div>

<div style="margin: 30px;">
    <button id="downloadButton" value="Download" onclick="downloadWord()" type="button" class="btn btn-dark btn-rounded" style="margin-top:20px;">Convert and Download</button>
</div>