<div id="whole">
    <h2>Convert {{ fileType }} files to Word documents</h2>
    <h3>Upload your {{ fileType }} data file</h3>
    <div class="background-image"></div>
    <div>
      <input type="file" (change)="onFileSelected($event)" [accept]="fileExtension">
      <button class="Upload" (click)="onUpload()">Upload</button>
    </div>
    <div>
      <h3>Enter the terms you wish to search for (txt only):</h3>
      <div class="keyterms-search">
          <input type="text" placeholder="E.g., CARTESIAN COORDINATES" id="keyTerms-toSearch" [(ngModel)]="searchTerms" />
      </div>
    </div>
    <div>
      <h3>Enter how you want the lines specified:</h3>
      <div class="linesSpecified_search">
          <input type="text" placeholder="E.g., WHOLE, FIRST X, LAST X" id="linesSpecified-toSearch" [(ngModel)]="specify_lines" />
      </div>
    </div>
    <div>
      <h3>Number of sections?</h3>
      <div class="sections_search">
          <input type="text" placeholder="Input as number..." id="sections-toSearch" [(ngModel)]="sections"/>
      </div>
    </div>
    <div>
      <h3>Use total lines?</h3>
      <div class="useTotalLines_search">
          <input type="text" placeholder="TRUE/FALSE" id="useTotalLines-toSearch" [(ngModel)]="useTotalLines"/>
      </div>
    </div>
    <div>
      <h3>Total number of lines for output doc?</h3>
      <div class="totalLines_search">
          <input type="text" placeholder="Input as number..." id="totalLines-toSearch" [(ngModel)]="totalLines"/>
      </div>
    </div>
    <div>
      <button id="downloadButton" value="Download" type="button" (click)="onSubmit()">Convert</button>
    </div>
  </div>