name: Backend testing
on: push
jobs:
    pytest:
        runs-on: ubuntu-latest
        strategy:
          matrix:
            python-version: ["3.10"]
        steps:
        - uses: actions/checkout@v3
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v3
          with:
            python-version: ${{ matrix.python-version }}
     
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r ./Backend/requirements.txt
       
        - name: Test with pytest
          run: |
            cd Backend && coverage run -m pytest  -v -s
